<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revencoft.basic_access" > 
       
	<!-- =======================可复用模块===================== -->
	
	<sql id="Basic_Where_Clause">
		<if test="_parameter != null and _parameter.getQconditions().size() != 0">
			where 
			<foreach collection="_parameter.getQconditions()" item="condition" separator=" and ">
				<if test="condition.value != null and condition.value != ''">
					${condition.column} ${condition.operation}
					<choose>
						<when test='condition.operation.toString() == "like"'>
							concat('%', #{condition.value}, '%')
						</when>
						<otherwise>
							#{condition.value}
						</otherwise>
					</choose>
				</if>
	        </foreach>
		</if>
	</sql>

	<sql id="Page_Where_Clause">
		<include refid="com.revencoft.basic_access.Basic_Where_Clause"></include>
		<if test="sortColumn != null and sortColumn != ''">
			order by ${sortColumn} ${sSortDir_0}
		</if>
		<if test="iDisplayStart != -1 and iDisplayLength != -1" >
		    limit #{iDisplayStart},#{iDisplayLength}
		</if>
	</sql>
</mapper>   
