<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revencoft.sample.dao.task.TaskDao" > 
	<!-- Result Map-->
	<resultMap type="com.revencoft.sample.entity.Task" id="TaskMap">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<association property="user" column="user_id" columnPrefix="user_"
			resultMap="com.revencoft.sample.dao.account.UserDao.UserMap"
			/>
			<!-- resultMap="com.revencoft.sample.dao.account.UserDao.UserMap" -->
			<!-- select="com.revencoft.sample.dao.account.UserDao.findUserById" -->
	</resultMap>
       
<!-- sys_menu_btn table all fields -->
<sql id="Base_Column_List" >
	 id, title, description, user_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="basic_Where_Clause">
	where 1=1
<trim  suffixOverrides="," >
	<if test="search_LIKE_title != null and search_LIKE_title != ''" >
	    and title like  '%${search_LIKE_title}%'
	</if>
	<if test="userId != null" >
	    and user_id =  #{userId}
	</if>
</trim>
</sql>

<sql id="page_Where_Clause">
	<include refid="basic_Where_Clause"/>
	
	<if test="sortColumn != null and sortColumn != ''">
		order by ${sortColumn} ${sSortDir_0}
	</if>
	
	<if test="start != -1 and pageSize != -1" >
	    limit #{start},#{pageSize}
	</if>
</sql>
   

<!-- 根据条件查询 -->
<!--  
<select id="getUserTask"  resultMap="TaskMap" parameterType="com.revencoft.sample.dao.task.TaskQueryParam">
	select <include refid="Base_Column_List" /> 
	 from ss_task <include refid="page_Where_Clause"></include>
</select>

根据条件查询总数
<select id="getUserTaskCount"  resultType="int" parameterType="com.revencoft.sample.dao.task.TaskQueryParam">
	select count(1)
	 from ss_task <include refid="basic_Where_Clause"></include>
</select>

 -->



	<!-- =======================可复用模块===================== -->
	
	
	<sql id="new_Basic_Where_Clause">
		<if test="_parameter != null and _parameter.getQconditions().size() != 0">
			where 
			<foreach collection="_parameter.getQconditions()" item="condition" separator=" and ">
				<if test="condition.value != null and condition.value != ''">
					${condition.column} ${condition.operation}
					<choose>
						<when test='condition.operation.toString() == "like"'>
							concat('%', #{condition.value}, '%')
						</when>
						<otherwise>
							#{condition.value}
						</otherwise>
					</choose>
				</if>
	        </foreach>
		</if>
	</sql>

	<sql id="new_Page_Where_Clause">
		<include refid="new_Basic_Where_Clause"></include>
		<if test="sortColumn != null and sortColumn != ''">
			order by ${sortColumn} ${sSortDir_0}
		</if>
		<if test="iDisplayStart != -1 and iDisplayLength != -1" >
		    limit #{iDisplayStart},#{iDisplayLength}
		</if>
	</sql>
	
	
	<delete id="deleteById" parameterType="int">
		delete from ss_task where id=#{taskId}
	</delete>
	
	<delete id="deleteByQParams" parameterType="com.revencoft.sample.support.query.CustomQueryParams">
		delete from ss_task <include refid="new_Basic_Where_Clause"></include>
	</delete>
	
	<!-- 根据条件查询 -->
	<select id="queryByQParams"  resultMap="TaskMap" parameterType="com.revencoft.sample.support.query.CustomQueryParams">
		select <include refid="Base_Column_List" /> 
		 from ss_task <include refid="new_Page_Where_Clause"></include>
	</select>
	
	<!-- 根据条件查询总数 -->
	<select id="queryCountByQParams"  resultType="int" parameterType="com.revencoft.sample.support.query.CustomQueryParams">
		select count(1)
		 from ss_task <include refid="new_Basic_Where_Clause"></include>
	</select>
	
	<!-- 插入记录 -->
	<insert id="save" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
	  insert into ss_task (title, description, user_id) 
	  values(#{title}, #{description}, #{user.id})
	</insert>
</mapper>   
