<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revencoft.sample.dao.task.TaskDao">
	<!-- Result Map -->
	<resultMap type="com.revencoft.sample.entity.Task" id="TaskMap">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<association property="user" column="user_id"
			columnPrefix="user_" resultMap="com.revencoft.sample.dao.account.UserDao.UserMap" />
		<!-- resultMap="com.revencoft.sample.dao.account.UserDao.UserMap" -->
		<!-- select="com.revencoft.sample.dao.account.UserDao.findUserById" -->
	</resultMap>

	<!-- sys_menu_btn table all fields -->
	<sql id="Base_Column_List">
		id, title, description, user_id
	</sql>


	<delete id="deleteById" parameterType="int">
		delete from ss_task where
		id=#{taskId}
	</delete>

	<delete id="deleteByQParams" parameterType="com.revencoft.basic_access.param.CustomQueryParams">
		delete from ss_task
		<include refid="com.revencoft.basic_access.Basic_Where_Clause"></include>
	</delete>

	<!-- 根据条件查询 -->
	<select id="queryByQParams" resultMap="TaskMap"
		parameterType="com.revencoft.basic_access.param.CustomQueryParams">
		select
		<include refid="Base_Column_List" />
		from ss_task
		<include refid="com.revencoft.basic_access.Page_Where_Clause"></include>
	</select>

	<!-- 根据条件查询总数 -->
	<select id="queryCountByQParams" resultType="int"
		parameterType="com.revencoft.basic_access.param.CustomQueryParams">
		select count(1)
		from ss_task
		<include refid="com.revencoft.basic_access.Basic_Where_Clause"></include>
	</select>

	<!-- 插入记录 -->
	<insert id="save" parameterType="com.revencoft.sample.entity.Task"
		useGeneratedKeys="true" keyProperty="id">
		insert into ss_task (title, description, user_id)
		values(#{title}, #{description}, #{user.id})
	</insert>
	
	<update id="updateByQParams" parameterType="com.revencoft.basic_access.param.CustomQueryParams">
		update ss_task <include refid="com.revencoft.basic_access.Basic_Update_Clause"></include>
	</update>
</mapper>   
