<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revencoft.sample.dao.account.UserDao" > 
	<!-- Result Map-->
	<resultMap id="UserMap" type="com.revencoft.sample.entity.User" >
		<result property="loginName" column="login_name" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="salt" column="salt" />
		<result property="roles" column="roles" />
		<result property="registerDate" column="register_date" />
		<result property="id" column="id" />
	</resultMap>
       
<!-- sys_menu_btn table all fields -->
<sql id="User_Column_List" >
	 id,login_name,name,password,salt,roles,register_date
</sql>
   

<!-- 插入记录 -->
<insert id="save" parameterType="com.revencoft.sample.entity.User" useGeneratedKeys="true" keyProperty="id">
  insert into ss_user (login_name,name,password,salt,roles,register_date) 
  values(#{loginName}, #{name}, #{password}, #{salt}, #{roles}, #{registerDate})
</insert>

 
<!-- 根据QParams查询 -->
<select id="queryByQParams"  resultMap="UserMap" parameterType="string" >
	select * 
	 from ss_user <include refid="com.revencoft.basic_access.Basic_Where_Clause"></include>
</select>

</mapper>   
